// Page color settings
$page-background: #101010;

// Navigation colors settings
$nav-link-color: #b5b5b5;
$nav-link-hover-color: #f8f8f8;

// Page content colors settings
$page-content-color: #f8f8f8;

// Social anchor colors settings
$social-anchor-border: #6c6c6c;
$social-anchor-hover-shadow: #dadada;

// Section heading colors settings
$section-heading-color: #f8f8f8;
$section-heading-prefix-color: orange;