// Page color settings
$page-background: #0f0f0f;
$page-scrollbar-color: #535353;

// Navigation colors settings
$nav-link-color: #b5b5b5;
$nav-link-hover-color: #f8f8f8;

// Page content colors settings
$page-main-heading-color: #f3f3f3;
$page-content-color: #d2d2d2;

// Social anchor colors settings
$social-anchor-border: #6c6c6c;
$social-anchor-hover-shadow: #dadada;

// Section heading colors settings
$section-heading-color: #f8f8f8;
$section-heading-prefix-color: orange;

// Page section colors settings
$page-section-divider-color: #2d2d2d;

// Contact mail colors settings
$contact-mail-color: #4b7eff;
$contact-mail-hover-color: #355cc0;

// Tag colors settings
$tag-text-color: #ececec;
$tag-background-color: #ffffff00;
$tag-background-color-hover: #3f71ee;
$tag-border-color: #4b7eff;

// Project card colors settings
$project-name-color: #f8f8f8;
$project-description-color: #b5b5b5;
$project-link-color: #f8f8f8;
$project-link-hover-color: #4b7eff;
$project-link-hover-border-color: #4b7eff;
$project-no-links-message-color: #616161;

// Experience card colors settings
$experience-company-color: #f8f8f8;
$experience-position-color: #b5b5b5;
$experience-date-color: #848484;

// Translation card colors settings
$translation-name-color: #f8f8f8;
$translation-description-color: #b5b5b5;
