@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');

html, body {
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background-color: colors.$page-background;
}

* {
  box-sizing: border-box;
  font-family: 'Cambay', sans-serif;
}
